<?xml version="1.0" encoding="utf-8" ?>
<lotterys>
  <lottery name="bjpks" cname="北京Pk10" interval="5">
    <timeRules weekdays="0,1,2,3,4,5,6">
      <timeRule startTime="09:07:00" endTime="23:57:00" tick="00:05:00"/>
    </timeRules>
    <datasites>
      <datasite id="1" name="北京会所" url="http://www.cp0668.com/api/pk10?act=index&amp;limit=20" count="10" enable="true"/>
      <datasite id="2" name="AG蛋蛋" url="https://agpc28.com/Hist/bjpk10?date={0}" count="10" enable="true"/>
      <datasite id="3" name="极速开奖网" url="http://www.77jsk.com/pk10/getHistoryData.do?count=20" count="20" enable="true"/>
    </datasites>
  </lottery>
</lotterys>